footer{
    
    background: url(../img/bg-footer.jpg) center/cover;
    height: 300px; width: 100%;
    @media screen and (max-width: 800px) {
        background: none;
      }
    .footer-content{
       height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 auto; 
        max-width: 1120px;
        padding: 0 15px;
        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
          }
        .left-part{
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center;
            @media screen and (max-width: 800px) {
                display: none;
              }
            p{
                color: $white;
               line-height: 30px;
               padding-right: 30px;
                
            }
        }
        .right-part{
          height: 100%;
          display: flex;
          flex-direction: column;
         justify-content:  space-around;
          text-align: start;  
          padding-left: 30px;
          
          .newsletter{
            h3{
                color: $white;
                text-transform: uppercase;
                margin: 20px 0;
            }
            input{
                background: none;
                border: solid 1px rgb(53, 47, 41);
                padding: 10px 10px 10px 10px;
                font-size: 1rem;
                width: 350px;
            }
          }

          .follow-us{
            display: flex;
            h3{
                color: $white;
                text-transform: uppercase;
            }
            ul{
                width: 200px;
                @include alignChildren(space-around);
                color: #595956;
                cursor: pointer;
                padding-bottom: 30px;
                li{
                    transition: 0.2s;
                    &:hover{
                        scale: 1.3;
                    }
                }
            }
          }
        }
    }
}
