@font-face {
  font-family: "Allura";
  src: url(../font/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
}

h2 {
  color: rgb(166, 114, 69);
  text-transform: capitalize;
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  color: #eee;
  min-height: 100vh;
}
header nav {
  margin: 0 auto;
  max-width: 1100px;
  height: 12vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1200px) {
  header nav {
    max-width: 90%;
  }
}
@media screen and (max-width: 900px) {
  header nav {
    grid-template-columns: 15% 70% 15%;
  }
}
@media screen and (max-width: 680px) {
  header nav {
    grid-template-columns: 50% 10% 40%;
  }
}
header nav span {
  font-family: Allura, cursive;
  font-size: 2.1rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
}
@media screen and (max-width: 680px) {
  header nav span {
    font-size: 2.8rem;
    text-align: center;
  }
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 680px) {
  header nav ul {
    visibility: hidden;
  }
}
header nav ul li {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: block;
  position: relative;
}
header nav ul li:first-child::after {
  position: absolute;
  content: "";
  background: #eee;
  height: 2px;
  width: 100%;
  top: 22px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
header nav ul li:hover::after {
  position: absolute;
  content: "";
  background: #eee;
  height: 2px;
  width: 100%;
  top: 22px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
header nav .nav-icons i {
  padding: 5px;
}
@media screen and (max-width: 680px) {
  header nav .nav-icons i {
    padding: 15px;
  }
}
header nav .nav-icons i:hover {
  scale: 1.5;
  -webkit-transition: 0.3ms ease;
  -o-transition: 0.3ms ease;
  transition: 0.3ms ease;
  cursor: pointer;
}
header .view {
  margin-top: 150px;
  height: 88vh;
}
header .view h2 {
  font-family: Allura, cursive;
  font-weight: 100;
  color: rgb(166, 114, 69);
  font-size: 4rem;
  text-transform: capitalize;
}
@media screen and (max-width: 680px) {
  header .view h2 {
    font-size: 2.2rem;
    text-align: center;
  }
}
header .view h1 {
  margin-top: -30px;
  font-family: Poppins, serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 4rem;
}
@media screen and (max-width: 680px) {
  header .view h1 {
    font-size: 2.8rem;
    margin-top: 0px;
  }
}
header .view img {
  scale: 0.8;
  margin: 30px 0 60px;
}
header .view h6 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1rem;
  font-weight: 100;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #eee;
}
@media screen and (max-width: 850px) {
  .section1 {
    grid-template-columns: 1fr;
  }
}
.section1 .our-store {
  margin: 15px;
  border: dashed 1px rgb(166, 114, 69);
}
.section1 .our-store h2 {
  padding-top: 30px;
}
.section1 .our-store h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-weight: bold;
  margin-top: -20px;
}
.section1 .our-store img:nth-of-type(1) {
  margin: 30px 0;
}
.section1 .our-store p {
  padding: 0 20px;
}
.section1 .our-store img:nth-of-type(2) {
  height: 90px;
  border-radius: 50px;
  margin: 30px 0 5px;
}
.section1 .our-store h4 {
  font-family: Poppins, serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.section1 .our-store h5 {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: rgb(182, 182, 182);
  margin-bottom: 30px;
}
.section1 .store {
  background: url(../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 850px) {
  .section1 .store {
    display: none;
  }
}

.section2 {
  background: url(../img/bg-menu-01.jpg) bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
@media screen and (max-width: 850px) {
  .section2 {
    background-size: auto;
  }
}
.section2 h2 {
  margin-top: 40px;
}
.section2 #plate {
  margin: 20px;
}
.section2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: rgb(182, 182, 182);
  max-width: 55vw;
  margin: 0 auto 40px auto;
}
@media screen and (max-width: 850px) {
  .section2 ul {
    max-width: 85vw;
  }
}
.section2 ul li {
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
}
.section2 ul li::after {
  content: "";
  background: rgb(182, 182, 182);
  height: 1px;
  width: 100%;
  position: absolute;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  bottom: -10px;
}
.section2 .dishes {
  width: 55vw;
  margin: 10px auto;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  background: #eee;
  border-top: solid rgb(166, 114, 69) 4px;
}
@media screen and (max-width: 850px) {
  .section2 .dishes {
    grid-template-columns: 1fr;
    width: 85vw;
  }
}
.section2 .dishes img {
  border-radius: 50px;
  width: 100%;
}
@media screen and (max-width: 850px) {
  .section2 .dishes img {
    width: 60%;
    border-radius: 80px;
  }
}
@media screen and (max-width: 550px) {
  .section2 .dishes img {
    width: 100%;
  }
}
.section2 .dishes .dish-part {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  margin: 25px 10px 0px 15px;
  padding-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: dashed rgb(182, 182, 182) 1px;
}
.section2 .dishes .dish-part .dish-explain {
  text-align: left;
  padding-left: 10px;
}
.section2 .dishes .dish-part .dish-explain h6 {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-bottom: 5px;
}
@media screen and (max-width: 1250px) {
  .section2 .dishes .dish-part .dish-explain h6 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 850px) {
  .section2 .dishes .dish-part .dish-explain h6 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1250px) {
  .section2 .dishes .dish-part .dish-explain p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 850px) {
  .section2 .dishes .dish-part .dish-explain p {
    font-size: 1rem;
  }
}
.section2 .dishes .dish-part h5 {
  color: rgb(166, 114, 69);
  font-size: 1.2rem;
}
@media screen and (max-width: 1250px) {
  .section2 .dishes .dish-part h5 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .section2 .dishes .dish-part h5 {
    font-size: 1.4rem;
  }
}

.section3 {
  max-width: 1150px;
  padding: 100px 15px 65px;
}
.section3 .section3-content {
  display: grid;
  grid-template-columns: 30% 70%;
  background: black;
}
@media screen and (max-width: 850px) {
  .section3 .section3-content {
    grid-template-columns: 1fr;
  }
}
.section3 .section3-content .schedule {
  background: black;
  margin: 20px;
  padding-bottom: 30px;
  border: dotted 1px #eee;
}
.section3 .section3-content .schedule h2 {
  margin-top: 30px;
  font-size: 2.5rem;
}
.section3 .section3-content .schedule h4 {
  color: #eee;
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-size: 1.5rem;
  margin-top: -20px;
  letter-spacing: 3px;
}
.section3 .section3-content .schedule img {
  margin: 30px 0;
}
.section3 .section3-content .schedule h5 {
  color: rgb(166, 114, 69);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: Poppins, serif;
  font-weight: 100;
}
.section3 .section3-content .schedule p {
  color: #eee;
  margin-top: 20px;
  margin-bottom: 40px;
}
.section3 .section3-content .form {
  background: #eee;
}
.section3 .section3-content .form .form-container {
  margin: 80px;
}
.section3 .section3-content .form .form-container h3 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-size: 1.8rem;
  margin-top: -15px;
}
.section3 .section3-content .form .form-container img {
  margin: 40px 0;
}
.section3 .section3-content .form .form-container .form-tab {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
@media screen and (max-width: 850px) {
  .section3 .section3-content .form .form-container .form-tab {
    grid-template-columns: 1fr;
  }
}
.section3 .section3-content .form .form-container .form-tab #people, .section3 .section3-content .form .form-container .form-tab input {
  background: none;
  border: none;
  padding: 10px 0px;
  margin: 10px 15px;
  outline: none;
  border-bottom: solid 1px rgb(182, 182, 182);
}
.section3 .section3-content .form .form-container .submit-container {
  margin-top: 40px;
}
.section3 .section3-content .form .form-container .submit-container .btn {
  background: #21201e;
  color: #eee;
  padding: 15px 40px;
  border-radius: 40px;
  border: none;
  font-family: Poppins, serif;
  font-size: 1rem;
  letter-spacing: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.section3 .section3-content .form .form-container .submit-container .btn:hover {
  -webkit-transform: translateX(3px);
      -ms-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.433);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.433);
}

.section4 {
  max-width: 1150px;
  margin: 0 auto 100px;
}
@media screen and (max-width: 680px) {
  .section4 {
    display: none;
  }
}
.section4 h3 {
  font-family: Poppins, serif;
  font-size: 1.8rem;
  color: #eee;
  text-transform: uppercase;
  margin-top: -10px;
}
.section4 img {
  height: 25px;
  width: 25px;
  margin: 20px;
}
.section4 .event-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-row: 1fr 1fr;
  grid-template-areas: "a c" "b c";
  gap: 20px;
}
.section4 .event-grid .event-partA, .section4 .event-grid .event-partB {
  display: grid;
  grid-template-columns: 35% 65%;
  padding-left: 15px;
}
.section4 .event-grid .event-partA .event-part-R, .section4 .event-grid .event-partB .event-part-R {
  background: #eee;
  text-align: left;
  padding: 30px 20px 40px;
}
.section4 .event-grid .event-partA .event-part-R h5, .section4 .event-grid .event-partB .event-part-R h5 {
  font-size: 1.5rem;
  font-weight: 100;
}
.section4 .event-grid .event-partA .event-part-R p, .section4 .event-grid .event-partB .event-part-R p {
  color: rgb(182, 182, 182);
  padding: 20px 0;
  letter-spacing: 2px;
}
.section4 .event-grid .event-partA .event-part-R h6, .section4 .event-grid .event-partB .event-part-R h6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}
.section4 .event-grid .event-partA {
  grid-area: a;
}
.section4 .event-grid .event-partA .event-part-L {
  background: url(../img/event-01.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section4 .event-grid .event-partB {
  grid-area: b;
}
.section4 .event-grid .event-partB .event-part-L {
  background: url(../img/event-02.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section4 .event-grid .even-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  width: 80px;
  background: #21201e;
  color: #eee;
}
.section4 .event-grid .even-date h4 {
  font-size: 1.8rem;
}
.section4 .event-grid .even-date span {
  font-size: 1.2rem;
}
.section4 .event-grid .event-right {
  grid-area: c;
  background: url(../img/event-03.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4 .event-grid .event-right .event-part3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
  width: 90%;
  background: #eee;
}
.section4 .event-grid .event-right .event-part3 h5 {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 0px 40px;
}
.section4 .event-grid .event-right .event-part3 p {
  color: rgb(182, 182, 182);
  letter-spacing: 2px;
  margin-top: -30px;
}
.section4 .event-grid .event-right .event-part3 h6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 50px;
}/*# sourceMappingURL=index.css.map */